.title {
    font-weight: 800;
    font-size: 100px;
    margin-top: 11%;
    background: linear-gradient(to right,#79589F, rgb(50, 118, 245));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}